PORT=3000
DATABASE_URL=postgres://iaew:iaew-local@localhost:5432/iaew_turnos_db
DB_HOST=localhost
DB_PORT=5432
DB_NAME=iaew_turnos_db
DB_USER=iaew
DB_PASSWORD=iaew-local
RABBIT_URL=amqp://iaew:iaew-local@localhost:5672
RABBIT_USER=iaew
RABBIT_PASS=iaew-local
